<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Servlet Demo</display-name>
    <description>
        Servlet Demo
    </description>

    <listener>
        <listener-class>org.care.listeners.ApplicationListener</listener-class>
    </listener>

    <filter>
        <filter-name>connectionSessionFilter</filter-name>
        <filter-class>org.care.filters.ConnectionSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>connectionSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>myTestServlet</servlet-name>
        <servlet-class>org.care.servlets.MyTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myTestServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>